.btn {
  color: var(--button-color);
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
}

.btn, .btn.disabled, .btn[disabled] {
  background-color: var(--button-bg);
  border-color: var(--button-border);
}

.btn.active, .btn:active, .btn:focus, .btn:hover {
  color: var(--button-color);
  background-color: var(--button-active-bg);
  border-color: var(--button-active-bg);
  outline: 0!important;
}

.btn.active, .btn:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .125);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .125);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .125);
}

.btn.disabled, .btn[disabled] {
  filter: alpha(opacity=45);
  opacity: .45;
}

.btn-link, .btn-link.active, .btn-link.disabled, .btn-link:active, .btn-link:focus, .btn-link:hover, .btn-link[disabled] {
  color: #3bafda;
  background-color: transparent;
  border-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn-link:focus, .btn-link:hover {
  text-decoration: underline;
}

.btn-default {
  color: #434a54;
  border-color: #aab2bd!important;
}

.btn-default.active, .btn-default:active, .btn-default:focus, .btn-default:hover {
  background-color: var(--button-active-bg);
  border-color: var(--button-active-bg);
}

.btn-default, .btn-default.disabled, .btn-default[disabled] {
  background-color: #fff;
}

.open .dropdown-toggle.btn-default {
  background-color: var(--button-active-bg);
  border-color: var(--button-active-bg);
}

.btn-primary, .btn-primary.active, .btn-primary.disabled, .btn-primary:active, .btn-primary[disabled] {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.btn-primary:focus, .btn-primary:hover, .open .dropdown-toggle.btn-primary {
  background-color: var(--quaternary);
  border-color: var(--quaternary);
}

.btn-info, .btn-info.active, .btn-info.disabled, .btn-info:active, .btn-info[disabled] {
  background-color: var(--tertiary);
  border-color: var(--tertiary);
}

.btn-info:focus, .btn-info:hover, .open .dropdown-toggle.btn-info {
  background-color: var(--quinary);
  border-color: var(--quinary);
}

.btn-success, .btn-success.active, .btn-success.disabled, .btn-success:active, .btn-success[disabled] {
  background-color: #8cc152;
  border-color: #8cc152;
}

.btn-success:focus, .btn-success:hover, .open .dropdown-toggle.btn-success {
  background-color: #a0d468;
  border-color: #a0d468;
}

.btn-warning, .btn-warning.active, .btn-warning.disabled, .btn-warning:active, .btn-warning[disabled] {
  background-color: #f6bb42;
  border-color: #f6bb42;
}

.btn-warning:focus, .btn-warning:hover, .open .dropdown-toggle.btn-warning {
  background-color: #ffce54;
  border-color: #ffce54;
}

.btn-danger, .btn-danger .open .dropdown-toggle.btn, .btn-danger.active, .btn-danger.disabled, .btn-danger:active, .btn-danger[disabled] {
  background-color: #da4453;
  border-color: #da4453;
}

.btn-danger:focus, .btn-danger:hover, .open .dropdown-toggle.btn-danger {
  background-color: #ed5565;
  border-color: #ed5565;
}
